<html>
    <head>
        <title>Topic</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Topic</h1>
        <div style='border:1px solid black; width:80%; white-space: nowrap;'>
            <div style='float: left;'>
                <img src='a_rainy_night_by_seerlight_dcrp1p2 (1).jpg' alt='<?php echo $topic->getName(); ?>' style="width: 100px; height: 150px;"/>
            </div>
            <h2>{{$topic->title}}</h2> <p>{{$post->content}}</p> <p>{{$post->created_at}}</p> <p>{{$post->updated_at}}</p>  <p>Profile</p>
        </div>
        <br><br>
        <div style='border:1px solid black; width:80%; white-space: nowrap;'>
            <div style='float: left;'>
                <img src='a_rainy_night_by_seerlight_dcrp1p2 (1).jpg' alt='<?php echo $topic->getName(); ?>' style="width: 100px; height: 150px;"/>
            </div>
            <h2>{{$topic->title}}</h2> <p>{{$post->content}}</p> <p>{{$post->created_at}}</p> <p>{{$post->updated_at}}</p> <p>Profile</p>
        </div>
        <br><br>
        <div style='border:1px solid black; width:80%; white-space: nowrap;'>
            <div style='float: left;'>
                <img src='a_rainy_night_by_seerlight_dcrp1p2 (1).jpg' alt='<?php echo $topic->getName(); ?>' style="width: 100px; height: 150px;"/>
            </div>
            <h2>{{$topic->title}}</h2> <p>{{$post->content}}</p> <p>{{$post->created_at}}</p> <p>{{$post->updated_at}}</p> <p>Profile</p> 
        </div>
        <br><br>
        <div style='border:1px solid black; width:80%; white-space: nowrap;'>
            <div style='float: left;'>
                <img src='a_rainy_night_by_seerlight_dcrp1p2 (1).jpg' alt='<?php echo $topic->getName(); ?>' style="width: 100px; height: 150px;"/>
            </div>
            <h2>{{$topic->title}}</h2> <p>{{$post->content}}</p> <p>{{$post->created_at}}</p> <p>{{$post->updated_at}}</p> <p>Profile</p> 
        </div>
        <br><br>
        <div style='border:1px solid black; width:80%; white-space: nowrap;'>
            <div style='float: left;'>
                <img src='a_rainy_night_by_seerlight_dcrp1p2 (1).jpg' alt='<?php echo $topic->getName(); ?>' style="width: 100px; height: 150px;"/>
            </div>
            <h2>{{$topic->title}}</h2> <p>{{$post->content}}</p> <p>{{$post->created_at}}</p> <p>{{$post->updated_at}}</p> <p>Profile</p> 
        </div>
        <br><br>
        <div style='border:1px solid black; width:80%; white-space: nowrap;'>
            <div style='float: left;'>
                <img src='a_rainy_night_by_seerlight_dcrp1p2 (1).jpg' alt='<?php echo $topic->getName(); ?>' style="width: 100px; height: 150px;"/>
            </div>
            <h2>{{$topic->title}}</h2> <p>{{$post->content}}</p> <p>{{$post->created_at}}</p> <p>{{$post->updated_at}}</p> <p>Profile</p> 
        </div>
        <br><br>
        <div style='border:1px solid black; width:80%; white-space: nowrap;'>
            <div style='float: left;'>
                <img src='a_rainy_night_by_seerlight_dcrp1p2 (1).jpg' alt='<?php echo $topic->getName(); ?>' style="width: 100px; height: 150px;"/>
            </div>
            <h2>{{$topic->title}}</h2> <p>{{$post->content}}</p> <p>{{$post->created_at}}</p> <p>{{$post->updated_at}}</p> <p>Profile</p> 
        </div>
        <br><br>
        <a href='/'>home</a> 
        <a href='/topic/{{$topic->id}}/page/2'>page 2</a>
        <a href='/topic/{{$topic->id}}/page/2'>page 3</a>
    </body>
</html>