<!DOCTYPE html>
<html lang="en">
    <body>
        User Profile<br>
        <a href="/Main/logout">Logout</a>
        <a href="/Main/index">Home</a>
        <div style='border:1px solid black; width:80%; height: auto; white-space: nowrap; margin-top: 2%; margin: 2% auto;'>
            <div style="display:flex">
                <div style="text-align: center; padding-right: 2%;">
                    <h1>{{$user->username}}</h1>
                    <h2>{{$posts->getPostsByUserId}}</h2>
                    <h2>if($_SESSION['type']=='admin'{{user$->BanUserByUserId}})</h2>
                </div>
                <div style="text-align: left; flex: 50%;">
                    <h2>{{$posts->getPost.count()}}</h2>
                    <h2>{{$user->getDob}}</h2>
                    <h2>{{$user->getBio}}</h2>
                </div>
            </div>
        </div>
    </body>
</html>